NOTION_TOKEN=tu_token_de_notion
PAGE_NOTION_MAIN=tu_page_id_principal_de_notion
TOKEN_GITHUB=tu_token_personal_de_github
GOOGLE_SERVICE_ACCOUNT_KEY='{"type":"service_account","project_id":"tu-proyecto","private_key_id":"tu_private_key_id","private_key":"-----BEGIN PRIVATE KEY-----\nTU_CLAVE\n-----END PRIVATE KEY-----\n","client_email":"tu-service-account@tu-proyecto.iam.gserviceaccount.com","client_id":"tu_client_id"}'
